<!-- <div
  class="container-fluid"
  *ngFor="let country of countryListByRegion$ | async"
>
  <mat-card (click)="showDetails(country)">
    <h3>{{ country.name.common }}</h3>
    <img src="{{ country.flags.png }}" alt="" />
  </mat-card>
</div> -->

<h3>{{ chosedContinent }}</h3>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Flag">
      <td class="flag" mat-cell *matCellDef="let element">
        <img src="{{ element.flags.png }}" alt="" />
        <p>{{ element.name.common }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <td class="name" mat-cell *matCellDef="let element">
        {{ element.name.common }}
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="showDetails(row)"
    ></tr>
  </table>
</div>
