<div class="container-fluid">
  <div class="wrapper">
    <div class="photo-roll">
      <div class="photo-roll-img"></div>
      <div class="photo-roll-body"></div>
    </div>
    <div class="text">
      <p>
        Witam wszystkich odwiedzających! Przez większość swojego życia byłem
        instruktorem windusrufingu, dzięki czemu zwiedziłem kawał świata, lecz
        zawsze w tych podróżach towrzyszył mi mój najwierniejszy przyjaciel
        czyli komputer :) Od dziecka byłem zafascynowany wszystkim co się działo
        wokół komputera (Przeważnie gry :) ), ale dopiero od roku podszedłem do
        tego od bardziej technicznej strony. Od roku uczę się programować w
        Angularze, co sprawia mi niesamowitą przyjemność i ogromną zadysfakcję.
        Oczywiście mimo ciężkiej pracy na mojej drodze co każdy niekomercyjny
        mały projekt spotykam bardzo dużo niejasności i problemów, ale z każdym
        wykonanym projektem jest ich coraz mniej. Pozdrawiam i życzę miłego
        dnia!
      </p>
    </div>
  </div>
</div>
